body {
    margin: 0;
    padding: 0;
}


.main-container {
    min-height: 600px;
}

#homeImg {
    margin-top: 5%;
}

.textNiceOrange {
    color: #D87A68 !important;
}

.circle {
    background: red;
    border-radius: 400px;
    color: white;
    height: 400px;
    width: 400px;
    margin-left: 30%;
}

#contactContent{
    margin-top: 10%;
}

#mainContaier {
    background-image: url('../img/bg3.jpg');
}

.textWhite{
    color: whitesmoke;
}

.bgWhiteWrapper {
    background-color: whitesmoke;
    padding: 2%;
    border-radius: 5px;
}

.imgMusic {
    border-radius: 100%;
}

