body {
    margin: 0;
    padding: 0;
}


#img-bio {
    width: 20%;
}

.main-container {
    min-height: 600px;
}

#spring-ico {
    width: 1em;
    margin-bottom: 0.2em;
}

#tomcat-ico {
    width: 1.5em;
    margin-bottom: 0.3em;
}

#java-svg {
    width: 1.5em;
    margin-bottom: -0.2em;
}

#homeImg {
    margin-top: 5%;
}

.textNiceOrange {
    color: #D87A68 !important;
}

.circle {
    background: red;
    border-radius: 400px;
    color: white;
    height: 400px;
    width: 400px;
    margin-left: 30%;
}

#contactContent {
    margin-top: 10%;
}

nav {
    margin: 0 !important;
}

#mainContaier {
    background-image: url('../img/2.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.textWhite {
    color: whitesmoke;
}

.bgWhiteWrapper {
    background-color: rgba(229, 229, 229, 0.9);
    padding: 2%;
    border-radius: 5px;
}

#img-music {
    border-radius: 5px;
}
