<p>portoflio</p>

<p>

    Martin Kuzdowicz example projects available on GitHub

    Java web applications (Spring MVC, Hibernate, Spring Data):

    Web application for live gaming (chess game)
    Technologies: Websockets, Spring MVC, Spring Security, MongoDB, Ajax, Jquery, Javascript, Bootstrap, Maven
    https://github.com/MartinKuzdowicz/ChessWebsocketLiveGamingApp

    Rest api for delivering and managing information about guitars, guitar players and guitar rig.
    Technologies: Java 8, Spring MVC, Spring Boot, MySql, Spring Data JPA, REST, AngularJS
    https://github.com/MartinKuzdowicz/GuitarPlayersDataRestApi

    E-learning data repository for storing and managing tutorials.
    Including functionalities like time management and rating of tutorials.
    Technologies: Java 8, Spring MVC, Hibernate, MySql
    https://github.com/MartinKuzdowicz/TutorialsManager

    Javascript:
    simple web games written in JavaScript
    https://github.com/MartinKuzdowicz/js_simple_games

    Music Programming
    Music written for Sonic PI environment
    https://github.com/MartinKuzdowicz/music_programming


</p>