<div class="container">
    <div class="bgWhiteWrapper">
        <p class="lead">
            <strong> Martin Kuzdowicz</strong> - portoflio/ example projects available on GitHub <br />
        </p>
        <br />
        <div class="text-left">

            <p class="lead">
                Java web applications (Spring MVC, Hibernate, Spring Data...)
            </p>

            <dl>
                <dt>Web application for live gaming (chess)</dt>
                <dd>
                    <p>
                        Technologies: Websockets, Spring MVC, Spring Security, MongoDB, Ajax, Jquery, Javascript, Bootstrap, Maven
                    </p>
                    <a target="_blank" href="https://github.com/MartinKuzdowicz/ChessWebsocketLiveGamingApp">
                        github.com/MartinKuzdowicz/ChessWebsocketLiveGamingApp
                    </a>
                    <hr />
                </dd>
                <dt>
                    Rest api for delivering and managing information about guitars, guitar players and guitar rig
                </dt>
                <dd>
                    <p>
                        Technologies: Java 8, Spring MVC, Spring Boot, MySql, Spring Data JPA, REST, AngularJS
                    </p>
                    <a target="_blank" href="https://github.com/MartinKuzdowicz/GuitarPlayersDataRestApi">
                        github.com/MartinKuzdowicz/GuitarPlayersDataRestApi
                    </a>
                    <hr />
                </dd>
                <dt>
                    E-learning data repository for storing and managing tutorials
                </dt>
                <dd>
                    <p>
                        Including functionalities like time management and rating of tutorials.
                        Technologies: Java 8, Spring MVC, Hibernate, MySql
                    </p>
                    <a target="_blank" href="https://github.com/MartinKuzdowicz/TutorialsManager">
                        github.com/MartinKuzdowicz/TutorialsManager
                    </a>
                    <hr />
                </dd>
            </dl>

            <div>
                <p class="lead">
                    Javascript
                </p>

                <dl>
                    <dt>simple web games written in JavaScript</dt>
                    <dd>
                        <a target="_blank" href="https://github.com/MartinKuzdowicz/js_simple_games">
                            github.com/MartinKuzdowicz/js_simple_games
                        </a>
                    </dd>
                </dl>

                <p class="lead">
                    Music Programming
                </p>

                <dl>
                    <dt>Music written for Sonic PI environment</dt>
                    <dd>
                        <a target="_blank" href="https://github.com/MartinKuzdowicz/music_programming">
                            github.com/MartinKuzdowicz/music_programming
                        </a>
                    </dd>
                </dl>
            </div>
            <a class="btn btn-microsoft pull-right" target="_blank" href="../../pdf/martin_kuzdowicz_cv.pdf">My CV in PDF</a>
            <br />
        </div>
    </div>
</div>












