<div class="row">

    <p class="lead">Martin Kuzdowicz - Musician</p>
    <br />

    <img class="img-circle" alt="Martin Kuzdowicz" src="../img/MusicImg.jpg" />

    <br /><br />
    </div>

        <a class="btn btn-lg" target="_blank" href="http://www.youtube.com/user/martinkuzdowicz">
            <span class="fa fa-youtube" aria-hidden="true"> YouTube</span>
        </a>
        <a class="btn btn-lg" target="_blank" href="http://soundcloud.com/martinkuzdowicz">
            <span class="fa fa-soundcloud" aria-hidden="true"> Soundcloud</span>
        </a>

</div>