<div class="container">
    <div class="bgWhiteWrapper center-block">
        <br/>
        <img id="img-bio" class="img-circle img-responsive center-block" src="../img/mk_thumb.jpg" alt="Martin Kuzdowicz" /><br />
        <p class="lead text-center">
            <strong> Martin Kuzdowicz</strong><br />
            Computer programmer, music composer and guitar player<br />
            <br />
        </p>
        <p>
            As a programmer I specialize in programming web applications in Java with frameworks like Spring, Hibernate, WebObjects... <br />
            <a target="_blank" href="https://www.linkedin.com/in/martinkuzdowicz">More about my programming skills and my career as a software developer</a><br />
            <br />
            As a musician I specialize in improvised music such as Jazz and modern Rock. I am cooperating with polish bands like: <br />
            <ul class="list-unstyled">
                <li><a target="_blank" href="http://www.freewayquintet.pl/">Freeway Quintet</a></li>
                <li>Soundrise</li>
                <li>Flying Moses</li>
                <li> Breslauer Cocktail</li>

            </ul>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">Selected achievements as a musician</div>
            <div class="panel-body">
                <ul class="list-style">
                    <li>Audience Award at the International Getxo Jazz Festival in Spain 2013 (with Freeway Quintet band )</li>
                    <li>Second price on the Festival of Jazz Juniors in Krakow in 2010 (with Freeway Quintet band )</li>
                    <li>Grand Prix - National Competition Jazz RCK pro Jazz Festival 2010 in Kolobrzeg (with Freeway Quintet band )</li>
                    <li>TVP KULTURA Award (Polish television) - Festival NIEMEN NON STOP 2009 Slupsk (with Soundrise band )</li>
                    <li>Compose music for the silent film The Cabinet of Dr. Caligari for the 100th anniversary of the Technical Universities in Wroclaw in 2010 <br/>
                     (with Freeway Quintet band )</li>
                    <li>Andrew Jakóbiec Prize for the most talented creators of jazz at festival FAMA 2009 Swinoujscie (with Freeway Quintet band )</li>
                    <li>
                        Third price in the II Student Instrumental Competition "Fryderyk Chopin" Zielona Gora 2006 in the category of jazz, <br />
                        for the jazz interpretation of  Waltz cis- moll op. 67 No. 2 by Frederic Chopin
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                &nbsp;&nbsp;&nbsp;Currently my fields of interest are focused on how can I combine my music skills and my programming skills. 
                To develop this interests I am using now among others the Sonic PI environment wich is a programming language environment for creating music.
                As I go further into programming I begin to see more and more similarities between programming and composing music.
                This similarities are for example beetwen design patterns and music forms or list of objects comparing to scales in music.<br/>
                As for my current interest in programming I am excited now about Big Data and machine learning concepts.
            </div>
        </div>

    </div>

</div>
