<p>bio</p>

<p>

    Martin Kuzdowicz
    Computer programmer, music composer, guitar player and music producer.
    As I programmer I specialize in programming web applications in Java. In frameworks like Spring, Hibernate and WebObjects. More about my programming skills and career: https://www.linkedin.com/in/martinkuzdowicz
    As a musician I specialize in improvised music such as Jazz and modern Rock. I am/was in cooperation’s with polish bands like:
    Freeway Quintet ,
    Soundrise ,
    Flying Moses ,
    Breslauer Cocktail.

    Selected achievements as a musician
    Audience Award at the International Getxo Jazz Festival in Spain 2013 (with Freeway Quintet band )
    Second place on the Festival of Jazz Juniors in Krakow in 2010 (with Freeway Quintet band )
    Grand Prix - National Competition Jazz RCK pro Jazz Festival 2010 in Kolobrzeg (with Freeway Quintet band )
    TVP KULTURA Award (Polish television) - Festival NIEMEN NON STOP 2009 Slupsk (with Soundrise band )
    Composing music for the silent film The Cabinet of Dr. Caligari for the 100th anniversary of the Technical Universities in Wroclaw in 2010 (with Freeway Quintet band )
    Composing music for the play " Dziewictwo " theater Narybek From Poland during the Festival FAMA 2009 Swinoujscie (with Freeway Quintet band )
    Andrew Jakóbiec Prize for the most talented creators of jazz at festival FAMA 2009 Swinoujscie (with Freeway Quintet band )
    Third place in the II Student Instrumental Competition "Fryderyk Chopin" Zielona Gora 2006 in the category of jazz , for the jazz interpretation of  Waltz cis- moll op. 67 No. 2 by Frederic Chopin

    Currently my fields of interest are focused on how can I combine my music skills and my programming skills.
    To develop this interests I am using now among others the Sonic PI environment. Sonic PI is something like a programming language environment for creating music. As I go further into programming I begin to see more and more similarities between programming and composing music. This similarities I see for example in comparing design patterns and music forms or list of objects comparing to scales in music.
    As for my current interest in programming I am excited now about big data and machine learning concepts.
    Co-founder of modern music arrangement Czeslaw Niemen - issued on CD team Soundrise songs from the repertoire of Czeslaw Niemen creator of music for the silent film The Cabinet of Dr . Caligari . A graduate of the Art Education in the field of Music Art at the University of Zielona Gora and Musicology at the University of Wroclaw.



</p>