<div class="container">
    <div class="bgWhiteWrapper">
        <p class="lead">
            <strong> Martin Kuzdowicz</strong><br />
            Computer programmer, music composer, guitar player and music producer. <br />
            <br />
        </p>
        <div class="container text-left" id="bioContent">

            <p>
                As I programmer I specialize in programming web applications in Java. In frameworks like Spring, Hibernate and WebObjects. <br />
                <a target="_blank" href="https://www.linkedin.com/in/martinkuzdowicz">More about my programming skills and career</a><br />
                <br />
                As a musician I specialize in improvised music such as Jazz and modern Rock. I am/was in cooperation’s with polish bands like: <br />
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://www.freewayquintet.pl/">Freeway Quintet</a></li>
                    <li>Soundrise</li>
                    <li>Flying Moses</li>
                    <li> Breslauer Cocktail</li>

                </ul>
            </p>

            <p class="lead">
                Selected achievements as a musician
            </p>

            <ul class="list-style">
                <li>Audience Award at the International Getxo Jazz Festival in Spain 2013 (with Freeway Quintet band )</li>
                <li>Second place on the Festival of Jazz Juniors in Krakow in 2010 (with Freeway Quintet band )</li>
                <li>Grand Prix - National Competition Jazz RCK pro Jazz Festival 2010 in Kolobrzeg (with Freeway Quintet band )</li>
                <li>TVP KULTURA Award (Polish television) - Festival NIEMEN NON STOP 2009 Slupsk (with Soundrise band )</li>
                <li>Composing music for the silent film The Cabinet of Dr. Caligari for the 100th anniversary of the Technical Universities in Wroclaw in 2010 (with Freeway Quintet band )</li>
                <li>Composing music for the play " Dziewictwo " theater Narybek From Poland during the Festival FAMA 2009 Swinoujscie (with Freeway Quintet band )</li>
                <li>Andrew Jakóbiec Prize for the most talented creators of jazz at festival FAMA 2009 Swinoujscie (with Freeway Quintet band )</li>
                <li>Third place in the II Student Instrumental Competition "Fryderyk Chopin" Zielona Gora 2006 in the category of jazz, <br /> 
                for the jazz interpretation of  Waltz cis- moll op. 67 No. 2 by Frederic Chopin</li>
            </ul>


            <p>
                Currently my fields of interest are focused on how can I combine my music skills and my programming skills.<br />
                To develop this interests I am using now among others the Sonic PI environment.<br />
                Sonic PI is something like a programming language environment for creating music.<br />
                As I go further into programming I begin to see more and more similarities between programming and composing music. <br />
                This similarities I see for example in comparing design patterns and music forms or list of objects comparing to scales in music.<br />
                As for my current interest in programming I am excited now about big data and machine learning concepts.<br />
            </p>

        </div>

    </div>
</div>
